@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  // font-family: "Tunga", sans-serif;
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
}

@font-face {
  font-family: "Tunga";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fontz/tunga.ttf") format("truetype");
}

@font-face {
  font-family: "Tunga";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fontz/tungab.ttf") format("truetype");
}
