$siteViolet: #5969f6;
$siteBlue: #6bc1ff;
$fontFooter: #141313;
$font: #707070;
$siteBlack: #3b3a3a;
$columnGreen: #ecf4f5;
$columnBlue: #f2f8fd;
$columnCream: #f7f9eb;
$columnPink: #fdf1f4;
$siteWhite: #fff;
$placeHold: #c4c4c4;
$error: #db0d0d;
$headerHeight: 10.7rem;
$headerHeight2: 11.5rem;
$searchHeaderWidth: 30vw;
